$header-font: 'Pacifico', sans-serif;
$text-color: #E6D387;
$pointer: pointer;
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
