body {
	background: #363547;

}


/* Navbar
======================= */
.navbar {
	background-color: #027C6F;
	float: right;
	width: 100%;
	height: 5px;
	border-radius: 0;
	min-height: 75px;

}

#myNav {
	float: right;
	padding: 0px;
	margin: 12px;
	text-transform: uppercase;
	font-size: 1.25em;

	li a {
		color: #E6D387;
		font-family: 'Open-Sans', sans-serif;
		&:hover {
			background-color: transparent;
			color: #363547;
		}


	}
}




span.icon-bar {
	background-color: #E6D387;
	position: relative;
	top: 10px;
}



.navbar-brand {
	font-family: 'Pacifico', sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding: 25px;
	color: #E6D387;

	&:hover {
 	color: #363547;
 }
}



/* Header Page */

#section1  {
	position: relative;
	top: 200px;
	height: 300px;
	width: 60%;
	margin: 0 auto;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 20px;
}

#section1 #header  {
	height: 299px;
	width: 299px;
}

 header#header img {
	border-radius: 50%;
	border: 4px #E6D387 solid;
	opacity: 0.7;

}

 .occupation {
	 font-family: 'Pacifico', sans-serif;
	 font-weight: bold;
	 font-size: 2em;
	 color: #E6D387;

}

/* xs < 768 */
@media screen and (max-width: 767px) {
    .occupation {
        font-size: 1em;
				text-align: center;
    }
}

/* About Page */

#about {
	color: $text-color;
	height: 50em;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		margin: 0;
	}
}

h1 {
	font-family: $header-font;
	font-size: 3.5em;
	text-align: center;
}

@media screen and (max-width: 767px){
	h1 {
		font-size: 2em;
		text-align: left;
	}
}

/*img {

	display: block;
	margin-left: auto;
	margin-right: auto;


	border: 5px #363547 solid;
}*/
