

body {
	background: #363547;
	padding-top: 70px;
}


/* Navbar
======================= */
.navbar {
	background-color: #027C6F;
	float: right;
	width: 100%;
	height: 5px;
	border-radius: 0;
	min-height: 75px;

}

#myNav {
	float: right;
	padding: 0px;
	margin: 12px;
	text-transform: uppercase;
	font-size: 1.25em;

	li a {
		color: #E6D387;
		font-family: 'Open-Sans', sans-serif;
		&:hover {
			background-color: transparent;
			color: #363547;
		}


	}
}




span.icon-bar {
	background-color: #E6D387;
	position: relative;
	top: 10px;
}



.navbar-brand {
	font-family: 'Pacifico', sans-serif;
	font-size: 2em;
	font-weight: bold;
	padding: 25px;
	color: #E6D387;

	&:hover {
 	color: #363547;
 }
}



/* Header Page */

#section1  {
	position: relative;
	top: 200px;
	height: 300px;
	width: 60%;
	margin: 0 auto;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 20px;
}

#section1 #header  {
	height: 299px;
	width: 299px;
}

 header#header img {
	border-radius: 50%;
	border: 4px #E6D387 solid;
	opacity: 0.7;

}

 .occupation {
	 font-family: 'Pacifico', sans-serif;
	 font-weight: bold;
	 font-size: 2em;
	 color: #E6D387;

}

/* xs < 768 */
@media screen and (max-width: 767px) {
    .occupation {
        font-size: 1em;
				text-align: center;
    }
}

/* About Page */

#about {
	color: $text-color;
	height: 45em;
	display: flex;
	align-items: center;
	justify-content: center;

	.container  {
		margin: 0;
		padding: 0;
	}
}

h1 {
	font-family: $header-font;
	font-size: 3.5em;
	text-align: center;
}

@media screen and (max-width: 767px){
	#about {
		display: inline-block;

	}
	h1 {
		font-size: 2em;
		text-align: left;
	}
}


/* Projects Page */

#projet {
	margin-top: 10px;
	height: 45em;

	display: flex;
	align-items: center;
	justify-content: center;

	.my-container {
		margin: 0;

	}

	h2 {
		font-family: $header-font;
		color: $text-color;
		text-align: center;
		font-size: 3.5em;
		padding-top: 0px;
	}
}


@media screen and (max-width: 1200px) {
	.my-container {
		position: absolute;
		top: 13%;


	}

	#projet h2 {
		font-size: 2.5em;
	}
}

/* Caption Portion */
.caption {
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0);
					transform: translateZ(0);

 	&::before {
		content: ' ';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent;
		transition: background .35s ease-out;
	}

	&:hover::before {
		background: rgba(#363547, .7);
	}
}

.caption_media {
	display: block;
	min-width: 100%;
	max-width: 100%;
	height: auto;
}

.caption_overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 5px;
	left: 0;
	padding: 0px;
	color: $text-color;

	-webkit-transform: translateY(100%);
					transform: translateY(100%);

	transition: -webkit-transform .35s ease-out;
	transition: 				transform .35s ease-out;
}

.caption:hover .caption_overlay {
	-webkit-transform: translateY(0);
					transform: translateY(0);
}

.caption_overlay_title {
	padding: 10px;
	text-align: justify;
	font-family: $header-font;
	-webkit-transform: translateY(-webkit-calc(-100% - 10px) );
					transform: translateY( calc(-100% - 10px) );
}

.caption:hover .caption_overlay_title {
	-webkit-transform: translateY(0);
					transform: translateY(0);
}

.caption_overlay_content {
	padding: 0 10px 10px 10px;
}
/* Mobile First */

.my-container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

.cell img{
  display: block;
	margin: 0;

}

.cell {
  margin: 1rem;
}


/* Tablet */

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

  }
  .cell {
    width: calc(50% - 2rem);
  }
}

/* Desktop */

@media screen and (min-width: 1000px){
  .cell {
    width: calc(33.3333% - 2rem);
		overflow-y: hidden;
  }
}


/* Contact Page */
#contact {
	.container{
		h2 {
			font-family: $header-font;
			color: $text-color;
			text-align: center;
		}
	}
}

.icons {
	color: $text-color;
	text-align: center;
	margin: 0 0 0;
	margin-bottom: 50px;
	padding: 0;
	position: relative;
	top: 200px;


}


.fa.fa-github-square.fa-5x {
	border-radius: 10px;
	color: $text-color;
	&:hover {
	cursor: $pointer;
	border-radius: 10px;
	max-height: 60px;
	background: #027C6F;
	-webkit-transition: all 0.5s ease-out;
					transition: all 0.5s ease-out;

  }
}



.fa.fa-linkedin-square.fa-5x {
	border-radius: 10px;
	color: $text-color;
	&:hover {
		cursor: $pointer;
		max-height: 60px;
		border-radius: 10px;
		background: #027C6F;
		-webkit-transition: all 0.5s ease-out;
						transition: all 0.5s ease-out;
	}
}

.fa.fa-envelope.fa-5x {
	border-radius: 10px;
	color: $text-color;
	&:hover {
		cursor: $pointer;
		min-height: 0px;
		max-height: 60px;
		border-radius: 10px;
		background: #027C6F;
		-webkit-transition: all 0.5s ease-out;
						transition: all 0.5s ease-out;
	}
}



/* Blog */

h1,
h3,
h4,
h5,
time,
#blog-head {
	color: $text-color;
}

.pics {
	padding-top: 70px;
	margin: 0 auto;
}

p {
	color: $text-color;
	text-align: justify;
	font-size: 1.2em;
	padding-top: 15px;
}

.posts {

	a {
		text-decoration: none;
		color: $text-color;
		font-family: $header-font;
		list-style-type: none;
	}

}









/*img {

	display: block;
	margin-left: auto;
	margin-right: auto;


	border: 5px #363547 solid;
}*/
